@defer (on viewport; when deferQueue.when('fruit0', 'lowest')) {
<imports-orchestrator-examples-fruit0-component deferQueueResolve="fruit0" />
} @placeholder {
  <div>fruit0 will be placed here</div>
}
<br />

@defer (when deferQueue.when('fruit1')) {
<imports-orchestrator-examples-fruit1-component deferQueueResolve="fruit1" />
}

<br />
@defer (when deferQueue.when('fruit2', 'highest')) {
<imports-orchestrator-examples-fruit2-component deferQueueResolve="fruit2" />
}

<br />
@defer (when deferQueue.when('fruit3', 'low')) {
<imports-orchestrator-examples-fruit3-component deferQueueResolve="fruit3" />
}

<br />
@defer (when deferQueue.when('fruit4', 329576235)) {
<imports-orchestrator-examples-fruit4-component deferQueueResolve="fruit4" />
}

<br />
Reactive state from lazy-loaded signal-based service {{ state$ | async }}

<br />
Reactive state from lazy-loaded signal-based service {{ state() }}
