<header>
  <h1>Example App</h1>
  <nav>
    <ul>
      <li><a routerLink="home">home</a></li>
      <li><a routerLink="fruit">fruit</a></li>
      <li><a routerLink="tab">tab</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <ul>
    <li class="footer-item">
      <ng-container import="footer0" cssClass="footer0"></ng-container>
    </li>
    <li class="footer-item">
      <ng-container import="footer1" cssClass="footer1"></ng-container>
    </li>
    <li class="footer-item">
      <ng-container import="footer2" cssClass="footer2"></ng-container>
    </li>
  </ul>
</footer>
