<header>
  <h1>Example App</h1>
  <nav>
    <ul>
      <li><a routerLink="defer">defer</a></li>
      <li><a routerLink="defer2">defer2</a></li>
      <li><a routerLink="home">home</a></li>
      <li><a routerLink="io">io</a></li>
      <li><a routerLink="fruit">fruit</a></li>
      <li><a routerLink="tab">tab</a></li>
      <li><a routerLink="service">service</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <ul>
    <li class="footer-item">
      @defer (when deferQueueView.when('footer0', 'lower')) {
      <imports-orchestrator-examples-footer0-component
        class="footer0"
        deferQueueResolve="footer0"
      />
      }
    </li>
    <li class="footer-item">
      @defer (when deferQueueView.when('footer1', 'lower')) {
      <imports-orchestrator-examples-footer1-component
        class="footer1"
        deferQueueResolve="footer1"
      />
      }
    </li>
    <li class="footer-item">
      @defer (when deferQueueView.when('footer2', 'lower')) {
      <imports-orchestrator-examples-footer2-component
        class="footer2"
        deferQueueResolve="footer2"
      />
      }
    </li>
  </ul>
</footer>
